/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Jumbo */

.jumbo {
  background: linear-gradient(#232424, #202527);
  padding-top: 80px;
}

.jumbo .cta {
  margin: 70px 0;
  text-align: center;
}

.jumbo .cta h1 {
  color: #eceeef;
}

.jumbo .cta p {
  max-width: 760px;
  margin: 5px auto 20px;
  color: #84949a;
  line-height: 160%;
}

.jumbo .cta .btn-green {
  padding: 16px 40px 14.4px;
  margin: 10px;
}

.jumbo img {
  width: 100%;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Logos */

.logos {
  background: #fff;
  border-top: 1px solid #e2e9ed;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.025);
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.025);
}

.logos .wrapper {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logos .wrapper img {
  height: 22px;
  fill: #c3cdd5;
}

      /* ––––––––––––––––––––––––––––––––––––––––––––––––––
      Responsive */

      @media screen and (max-width: 650px) {

        .hide-rsp {
          display: none;
        }

        .logos .wrapper {
          flex-wrap: nowrap;
        }

      }

      @media screen and (max-width: 348px) {

        .logos .wrapper img {
          width: 30%;
        }

      }

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Learn */

.learn h5:before {
  background: url(../img/icolearn.svg);
}
