/* //////////////////////////////////////////////////
––––––––––––––––––––––––––––––––––––––––––––––––––
GENERAL
––––––––––––––––––––––––––––––––––––––––––––––––––
////////////////////////////////////////////////// */

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Colori */

/* verde: #a1de41;
azzurro: #24c1ed;
gradient dark: linear-gradient(#232424, #202527);
color button: #cdd8bc;
btn dark: #3f4d4e;
a menu: #536970;
color hero: #84949a;
border-bottom header: 1px solid rgba(66,77,81,0.25);

dark color heading: #3b4447;
dark color txt: #697782;
dark bg: #1f2324;

light color heading: #eceeef;
light color txt: #84949a; */

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Layout */

body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  color: #697782;
  font-weight: 300;
  font-size: 16px;
}

.wrapper {
  width: 100%;
  max-width: 1050px;
  padding: 0 25px;
  margin: 0 auto;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Typography */

h1,h2,h3,h4,h5,h6 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 40px;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Buttons */

.btn, a.btn {
  padding: 7px 10px;
  border-radius: 4px;
  border: 2px solid;
  text-transform: capitalize;
  color: #cdd8bc;
  display: inline-block;
}

.btn-green, a.btn-green {
  border-color: #a1de41;
}

.btn-dark, a.btn-dark {
  border-color: #3f4d4e;
}

.btn:hover {
  background: #242a2d;
  color: #a1de41;
}
