/* //////////////////////////////////////////////////
––––––––––––––––––––––––––––––––––––––––––––––––––
GENERAL
––––––––––––––––––––––––––––––––––––––––––––––––––
////////////////////////////////////////////////// */

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Colori */

/* verde: #a1de41;
azzurro: #24c1ed;
gradient dark: linear-gradient(#232424, #202527);
color button: #cdd8bc;
btn dark: #3f4d4e;
a menu: #536970;
color hero: #84949a;
border-bottom header: 1px solid rgba(66,77,81,0.25);

dark color heading: #3b4447;
dark color txt: #697782;
dark bg: #1f2324;

light color heading: #eceeef;
light color txt: #84949a; */

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Layout */

body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  color: #697782;
  font-weight: 300;
  font-size: 16px;
}

.wrapper {
  width: 100%;
  max-width: 1050px;
  padding: 0 25px;
  margin: 0 auto;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Row Light and Dark */

[class*="row"] {
  width: 100%;
  /* max-width: 1500px; */
  margin: 0 auto;
  padding: 120px 126px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e2e9ed;
}

[class*="row"] h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.4em;
}

[class*="row"] h2:after {
  content: '';
  display: block;
  border-radius: 2px;
  width: 30px;
  height: 2px;
  margin: 15px 0;
  border: 1px solid #c8dce2;
  background: rgba(200,220,226,0.25);
}

      /* ––––––––––––––––––––––––––––––––––––––––––––––––––
      Responsive */

      @media screen and (max-width: 999px) {

        section[class*="row"] {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding-left: 24px;
          padding-right: 24px;
        }

        section[class*="row"] h2:after {
          margin-left: auto;
          margin-right: auto;
        }

      }

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Box Left */

[class*="row"] .box-left {
  max-width: 535px;
  padding-left: 80px;
}

[class*="row"] h5 {
  font-size: 14.4px;
  line-height: 100%;
  font-weight: normal;
  margin-bottom: 15px;
  display: inline-block;
}

[class*="row"] h5:before {
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 12px;
  background-size: cover;
  background-position: center;
  vertical-align: sub;
}

[class*="row"] .box-left p {
  line-height: 160%;
  margin-bottom: 20px;
}

[class*="row"] .box-left a.link {
  color: #24c1ed;
  font-weight: 700;
  padding-bottom: 4px;
  border-bottom: 2px solid #24c1ed;
  display: inline-block;
  margin-bottom: 64px;
}

[class*="row"] .box-left a.link:after {
  content: '\f054';
  font-family: 'Font Awesome 5 Free';
  font-size: 10px;
  font-weight: 800;
  margin-left: 8px;
  vertical-align: middle;
}

      /* ––––––––––––––––––––––––––––––––––––––––––––––––––
      Responsive */

      @media screen and (max-width: 999px) {

        [class*="row"] .box-left {
          padding-left: 0;
          max-width: 100%;
        }

      }


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Box Right */

[class*="row"]:not(.learn) .box-right {
  width: 55%;
  height: 250px;
  overflow: hidden;
  display: flex;
}

      /* ––––––––––––––––––––––––––––––––––––––––––––––––––
      Responsive */

      @media screen and (max-width: 999px) {

        [class*="row"]:not(.learn) .box-right {
          width: 80%;
        }

        [class*="row"]:not(.learn) .box-right img {
          width: 80%;
          margin-left: auto;
          margin-right: auto;
          object-fit: cover;
          object-position: top;
          align-self: flex-end;
        }

      }

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Row Light */

.row-light h5 {
  color: #7a8b91;
}

.row-light h2 {
  color: #3b4447;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Row Dark */

.row-dark {
  background: #1f2324;
}

.row-dark h5 {
  color: #7a8b91;
}

.row-dark h2 {
  color: #eceeef;
}

.row-dark p {
  color: #84949a;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Typography */

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Buttons */

.btn, a.btn {
  padding: 7px 10px;
  border-radius: 4px;
  border: 2px solid;
  text-transform: capitalize;
  color: #cdd8bc;
  display: inline-block;
}

.btn-green, a.btn-green {
  border-color: #a1de41;
}

.btn-dark, a.btn-dark {
  border-color: #3f4d4e;
}

.btn:hover {
  background: #242a2d;
  color: #a1de41;
}
